<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="
		http://java.sun.com/xml/ns/javaee 
		http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
		id="WebApp_ID" version="3.0"> 
    <display-name>TicketV1</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- JNDI Configuration -->
  	<resource-ref>
  		<description>Oracle data source</description>
  		<res-ref-name>jdbc/myoracle</res-ref-name>
  		<res-type>javax.sql.DataSource</res-type>
  		<res-auth>Container</res-auth>
  	</resource-ref>
  	
  	<!-- Spring Security -->
<!--   	<filter>
    	<filter-name>springSecurityFilterChain</filter-name>
    	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  	</filter>
  	<filter-mapping>
    	<filter-name>springSecurityFilterChain</filter-name>
    	<url-pattern>/*</url-pattern>
  	</filter-mapping> -->
  	
	<servlet>
  		<servlet-name>rest</servlet-name>
  		<servlet-class>
  			com.sun.jersey.spi.container.servlet.ServletContainer
  		</servlet-class>
  		<init-param>
  			<param-name>com.sun.jersey.config.property.packages</param-name>
  			<param-value>com.mercury.resources</param-value>
  		</init-param>
  		<load-on-startup>1</load-on-startup>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>rest</servlet-name>
  		<url-pattern>/rest/*</url-pattern>
  	</servlet-mapping>
  	<!-- Spring Listeners and Corresponding parameters -->
<!--   	<listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  	</listener>
  	<context-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>
			/WEB-INF/rest-*.xml
		</param-value>
  	</context-param> -->
</web-app>